.home-container {
    display: flex;
}

.home-main {
    flex: 1;
    position: relative;
    margin-left: 16rem;
    transition: margin-left 350ms cubic-bezier(0.165, 0.84, 0.44, 1) 0ms;
    display: flex;
    flex-direction: column;
    position: relative;
}

.home-main.sidebar-close {
    margin-left: 0;
}

.group-overview {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

.group-overview h3 {
    text-align: center;
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.overview-stats {
    display: flex;
    justify-content: space-between;
    margin: 100px 0;
    flex-wrap: wrap;
}

.stat-item {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    flex: 1 1 30%;
    margin: 10px;
    transition: transform 0.2s;
}

.stat-item:hover {
    transform: scale(1.05);
}

.stat-icon {
    font-size: 2rem;
    color: #39f;
}

.stat-item h4 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.stat-item p {
    font-size: 1.5rem;
    color: #333;
}