.sidebar {
    width: 16rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2a2f3b;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    transition: transform 350ms cubic-bezier(0.165, 0.84, 0.44, 1);
    border-right: 1px solid #394a63;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
}

.sidebar.close {
    transform: translateX(-100%);
}

.sidebar-header {
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    background-color: #1e232d;
    border-bottom: 1px solid #394a63;
}

.sidebar-header h3 {
    font-size: 1.25rem;
    margin-left: 1rem;
    color: #39f;
}

.sidebar-menu {
    flex: 1;
    padding: 10px;
}

.dashboard {
    display: flex;
    align-items: center;
    height: 48px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 200ms;
    cursor: pointer;
}

.dashboard:hover {
    background-color: #3a3f4a;
}

.dashboard span:last-child {
    background-color: #39f;
    padding: 2px 6px;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 0.75rem;
}

.sidebar-bottom {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #394a63;
}

.sidebar-bottom h4 {
    text-transform: uppercase;
    font-size: 1rem;
    color: #ffffff;
    border-bottom: 2px solid rgb(0, 127, 254);
    padding-bottom: 5px;
}