.loading-container {
    width: fit-content;
    position: relative;
    margin: auto;
}

.loading-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 4;
    background-color: white;
    opacity: .65;
}

.loading-main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.loading-main img {
    width: 320px;
    height: 211px;
    margin: auto;
}

.loading-main h4 {
    text-align: center;
}